* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    outline: none;
}

html,
body,
.auth {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-position: center;
    background-size: cover;
	display: flex;
    flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

a, a:hover {
    text-decoration: none;
}

/* BACKGROUNDS */

.background-auth {
	background-image: url(../images/background-4.jpg);
}

@media screen and (max-width: 760px) {
    .background-auth {
		background: rgb(19,43,70);
		background: linear-gradient(90deg, rgba(19,43,70,1) 0%, rgba(104,153,205,1) 39%, rgba(126,175,228,1) 61%, rgba(111,149,192,1) 100%);
    }
}

.background-home {
	background: rgb(19,43,70);
	background: linear-gradient(90deg, rgba(19,43,70,1) 0%, rgba(104,153,205,1) 39%, rgba(126,175,228,1) 61%, rgba(111,149,192,1) 100%);
}

.sticky-header {
	height: 100%;
}

/* END BACKGROUNDS */

/* LOGIN AND REGISTRATION */

.errors {
	margin-top: -1rem;
	margin-bottom: 1rem;
	color: red;
}

.upload-error {
	text-align: center;
}

.auth {
    display: flex;
}

.auth-form {
    border-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 32rem;
    margin: auto;
    max-height: 90%;
    width: 90%;
}

.auth-title {
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.auth-subtitle {
    color: #848694;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
    max-width: 100%;
}

.auth-input {
    border: none;
    border-bottom: 1px solid #82b4ea;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 100%;
}

.auth-input:focus {
    border-color: #82b4ea;
    box-shadow: 0 1px 0 0 #82b4ea;
}

.auth-actions {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    max-width: 10rem;
}

.auth-button {
    background-color: #82b4ea;
    border: none;
    border-radius: 1.25rem;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    height: 2.375rem;
    width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.auth-button-active:hover,
.auth-button-active:focus,
.auth-button-active:active {
    background-color: #fff;
	border:1px solid #82b4ea;
	color:#82b4ea;
	cursor:pointer;
}

.auth-link-active:hover,
.auth-link-active:focus,
.auth-link-active:active {
    background-color: #211451;
	border:1px solid #211451;
	color:#82b4ea;
	cursor:pointer;
}

.auth-link {
    font-size: 1rem;
    color: #82b4ea;
    text-decoration: none;
    margin-top: 1.75rem;
}

.auth-link:hover,
.auth-link:focus {
    text-decoration: underline;
}

select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/dropdownicon.png) 98% / 3% no-repeat #fff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  text-overflow:'';
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/
}

select {
    color: #787984;
}
option {
    color: #000;
}
option:first-child {
    color: #787984;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #787984;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #787984;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #787984;
}

/* END LOGIN AND REGISTRATION */

/* FOOTER */
footer {
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
    width: 100%;
    padding: 0 3rem 3rem;
    font-size: 14px;
    clear: both;
}
/* END FOOTER */

/* HEADER */

header {
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    overflow: hidden;
    background-color: white;
    padding: 0 30px;
    -webkit-box-shadow: 0px 3px 15px rgba(50, 50, 50, .7);
   -moz-box-shadow: 0px 3px 15px rgba(50, 50, 50, .7);
    box-shadow: 0px 3px 15px rgba(50, 50, 50, .7);
}

header a, header button {
    text-align: center;
    padding: 15px;
    font-size: 18px;
    line-height: 25px;
}

header #logo a{
	font-family: 'Cardo', serif;
    color: #82b4ea;
    font-size: 25px;
    font-weight: bold;
}

header ul {
    padding: 0px;
    margin: 0px;
}

header ul li {
    list-style-type: none;
    padding: 0px;
    margin-left: 7px;
    display: inline-block;
}

header ul li a, header ul li button {
    color: #fdfdfd;
    font-size: 17px;
    text-transform: uppercase;
	background-color: #82b4ea;
    border: 1px solid #82b4ea;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a:hover, header ul li button:hover {
	background-color: #fff;
	border:1px solid #82b4ea;
	color:black;
	cursor:pointer;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.menu-toggle {
	padding: 10px 20px;
    text-align: right;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
	display: none;
}

.header {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
    width: 100%;
}

@media (max-width: 768px){
	header {
		padding: 0;
	}
	
	nav {
		width: 100%;
	}
	
	.menu-toggle {
		display: flex;
	}
	
	header ul {
		display: flex;
		flex-direction: column;	
	}
	
	#logo {
		display: none;
	}
	
	header ul li a, header ul li button {
		background-color: #FFF;
		border: none;
		color: #82b4ea;
	}
	
	.menu-toggle-show {
		display: none;
	}
}

/* END HEADER */

/* HOME PAGE */

.profile {
	background-color: white;
	border-radius: 0.5rem;
    background-color: #FFF;
    display: flex;
    padding: 2.5rem;
	margin: 20px 0.5rem 50px 20px;
	max-width: 18rem;
}

.profile-avatar {
	text-align: center;
    padding: 0.5rem;
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 100%;
}

.profile-name {
	flex: 1;
	padding-top: 20px;
}

.container {
	display: flex;
	flex: 1 1 auto;
	align-items: flex-start;
	position: relative;/* need this to position inner content */
	overflow-y: auto;
	max-width: 100%;
}

.page {
	display: flex;
	flex-grow: 2;
	justify-content: center;
	padding: 20px 15px;
    min-height: 540px;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 55.5rem){
	.profile {
		margin-right: 0;
		max-width: 100%;
		padding: 0;
	}
	
	.profile-avatar {
		flex-direction: row;
	}
	
	.container {
		flex-direction: column;
		align-items: stretch;
		margin: 0.5rem auto;
		width: 90%;
	}
	
	.page {
		align-items: flex-start;
	}
	
	.home-page {
		margin-top: 20%;
	}
}

/* END HOME PAGE */

/* WELCOME TEXT */

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

.sandbox-welcome {
  display: flex;
}

.heading-welcome {
  margin: auto;
  text-align: center;
  position: relative;

  color: #fff;
  font-family: 'Cardo', serif;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
}

#specialty-name {
  font-size: 2rem;
}

@media screen and (min-width: 320px) {
  .heading-welcome {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 1000px) {
  .heading-welcome {
    font-size: 1.5rem;
  }
}

em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
  
  &::before, &::after {
	  content: "§";
	  display: inline-block;
	  -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  transform: rotate(90deg);
		opacity: 0.2;
	  margin: 0 0.6em;
	  font-size: 0.5em;
	}

}

/* END WELCOME TEXT */

/* MENU-PAGES */

.page-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.page-title {
	flex-grow: 1;
	display: flex;
	margin-bottom: 8%;
}

.menu {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 4%;
}

.menu-option{
	background-color: #FFF;
    border: none;
    border-radius: 1.25rem;
    color: black;
	font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    height: 2.375rem;
    width: 100%;
	max-width: 15rem;
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 5px;
}

.menu-option:hover{
    background-color: #82b4ea;
	border:1px solid #fff;
	color:#fff;
	cursor:pointer;
}

.menu-option-chosen {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4%;
	font-size: 1.7rem;
}

@media screen and (max-width: 55.5rem){
	.menu {
		flex-direction:column;
		align-items: center;
		max-width: 100%;
		margin: 5px;
	}
	
	.menu-option {
		max-width: 80%;
	}
}

/* END MENU-PAGES */

/* STUDENTS */

.students {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font-size: 0.975rem;
}

.student-container {
    margin: 5px;
    display: flex;
	padding-top: 1rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
	width: 40%;
	background: white;
	border: none;
    border-radius: 1.25rem;
	min-height: 7rem;
}

.profile-avatar.students-section-avatar img {
    width: 5rem;
    height: 5rem;
}

.students-section-avatar {
    width: 4rem;
}

.profile-image {
	border-radius: 30%;
    width: 5.25rem;
    height: 5.25rem;
}

.student-profile {
	padding-bottom: 20px;
}

.student-profile-name {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.student-info {
	flex: 1;
	padding-left: 4rem;
}

.student-details {
	display: flex;
	flex-direction: column;
}

.student-detail {
	display: flex;
}

.student-detail-title {
	margin: 0;
	flex: 0;
    padding-right: 10px;
	padding-bottom: 8px;
	min-width: 140px;
}

.student-detail-info {
	flex: 1;
    margin: 0;
}

@media screen and (max-width: 60rem){
	.student-container {
		width: 100%;
		padding-left: 1rem;
	}
	
	.student-info {
		padding-left: 30px;
	}
	
	.profile-avatar.students-section-avatar img {
		width: 4rem;
		height: 4rem;
	}
	
	.student-detail {
		flex-wrap: wrap;
	}
	
	.student-detail-title {
		padding-bottom: 0;
	}
}

@media screen and (max-width: 65rem){
	.student-container {
		padding-left: 1rem;
	}
	
	.student-info {
		padding-left: 30px;
	}
}

/* END STUDENTS */

/* GALLERY */

.gallery-upload {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.photos-container {
	display: flex;
    justify-content: center;
}

.photos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 70%;
}

.photo-container {
	background-color: white;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
	padding: 5px;
	justify-content: center;
	align-items: flex-end;
	max-width: 20rem;
	padding-bottom: 3%;
}

.photo {
    max-width:100%;
    height:auto;
}

.photo-footer {
	height: 3rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
    padding-bottom: 5px;
}

.photo-reaction {
	width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.photo-reaction button {
    cursor: pointer;
    background: none;
    border: none;
	width:100%
}

.download-btn {
	color: #737389;
}

@media screen and (max-width: 55.5rem){
	.photo-container {
		max-width: 100%;
	}
}

/* END GALLERY */

/* Loader from https://loading.io/css/ */
.lds-ripple {
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    margin: auto;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #333;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

.hidden {
    display: none;
}